doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title = locals.article ? article.title + ' — ' : ''
    title #{title}n8.io
    meta(name='description', content='TooTallNate\'s Personal Blog')
    meta(name='keywords', content='TooTallNate n8 node.js')
    meta(name='author', content='Nathan Rajlich')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='//fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic|Actor', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/highlight.css')
    link(rel='stylesheet', href='/base.css')
    link(rel='stylesheet', href='/skeleton.css')
    link(rel='stylesheet', href='/layout.css')
    link(rel='alternate', type='application/atom+xml', href='/feed.xml')
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16789838-3']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    .book
      | It's finally here, get your copy now! 
      a(href='http://manning.com/cantelon') Node.js in Action
      |  - 
      a.amazon(href='http://amzn.to/TTtigx') Amazon
    .bg: img(src=avatar)
    .container
      .columns.sixteen
        .columns.three
          h1.header: a(href='/') n8.io
        .columns.five
          ul.contacts
            li.github: a(href='https://github.com/TooTallNate') @TooTallNate
            li.twitter: a(href='https://twitter.com/TooTallNate') @TooTallNate
      .columns.fourteen.body#body!= body
      .columns.fourteen.footer
        | node #{process.version}
        br
        | git commit #{sha.substring(0, 7)}
        br
        a(href='https://github.com/TooTallNate/n8.io', title='Fork me!') source code
    script(type='text/javascript', src='/build.js')
