%rss(version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom")
  %channel
    %title TooTallNate.net
    %atom:link(href="https://tootallnate.net/feed.xml" rel="self" type="application/rss+xml")
    %link https://tootallnate.net
    %description A blog for me, TooTallNate!
    %pubDate&= formatRFC822Date(new Date())
    %generator https://github.com/creationix/wheat
    %language en
    :each article in articles
      %item
        %title&= article.title
        %link&= "https://tootallnate.net/" + article.name
        %comments&= "https://tootallnate.net/" + article.name + "#disqus_thread"
        %pubDate&= formatRFC822Date(article.date)
        %guid(isPermaLink="true")&= "https://tootallnate.net/" + article.name
        %description&= markdownEncode(article.markdown)
        %author&= article.author && (article.author.email + " (" + article.author.name + ")")
